apetraining/src/main/app/activemq.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.2"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <jms:activemq-connector name="Active_MQ" username="admin" password="admin" brokerURL="tcp://localhost:61616" validateConnections="true" doc:name="Active MQ"/>
    <flow name="mqputFlow" doc:name="mqputFlow">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="mqput" doc:name="HTTP"/>
        <jms:outbound-endpoint queue="dan" connector-ref="Active_MQ" doc:name="JMS"/>
        <set-payload value="Put #[message.payload] on the queue" doc:name="Set Payload"/>
    </flow>
    <flow name="mqGetFlow" doc:name="mqGetFlow">
        <jms:inbound-endpoint queue="dan" connector-ref="Active_MQ" tracking:enable-default-events="true" doc:name="JMS"/>
        <logger message="JMS payload: #[message.payload]" level="INFO" doc:name="Logger"/>
        <logger message="#[message]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
