apetraining/src/main/app/batch.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.2"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd">
    <sfdc:config name="Salesforce" username="salesforcemodule9@gmail.com" password="learnmule123" securityToken="xMqFS1D8Nmy2dHtMMMsjtsB4" doc:name="Salesforce"/>
    <db:mysql-config name="CHE_MySQL_Configuration" host="ec2-54-81-22-148.compute-1.amazonaws.com" port="3306" user="MuleReader" password="learnmule" database="MuleTrainingCHE" doc:name="MySQL Configuration"/>
    <data-mapper:config name="List_Map__To_List_Account_" transformationGraphPath="list_map__to_list_account_.grf" doc:name="List_Map__To_List_Account_"/>
    <batch:job name="batchBatch1">
        <batch:threading-profile poolExhaustedAction="WAIT"/>
        <batch:input>
            <poll doc:name="Poll">
                <fixed-frequency-scheduler frequency="30" timeUnit="SECONDS"/>
                <watermark variable="lastId" default-expression="0" selector="MAX" selector-expression="#[payload.accountID]"/>
                <db:select config-ref="CHE_MySQL_Configuration" doc:name="Database">
                    <db:parameterized-query><![CDATA[select * from Account where  postal = 'DJT123' and accountID > #[flowVars['lastId']]]]></db:parameterized-query>
                </db:select>
            </poll>
            <data-mapper:transform config-ref="List_Map__To_List_Account_" doc:name="List&lt;Map&gt; To List&lt;Account&gt;"/>
            <logger message="lastId: #[flowVars['lastId']]" level="INFO" doc:name="Logger"/>
        </batch:input>
        <batch:process-records>
            <batch:step name="Batch_Step1">
                <logger message="#[payload]" level="INFO" doc:name="Logger"/>
                <enricher source="#[payload.size()&gt;0 ? true : false]" target="#[recordVars['exists']]" doc:name="Message Enricher">
                    <sfdc:query config-ref="Salesforce" query="dsql:SELECT AccountNumber FROM Account WHERE Name = #[message.payload.Name]" doc:name="Salesforce"/>
                </enricher>
            </batch:step>
            <batch:step name="Batch_Step" accept-expression="#[recordVars['exists']]">
                <batch:commit size="100" doc:name="Batch Commit">
                    <sfdc:create config-ref="Salesforce" type="Account" doc:name="Salesforce">
                        <sfdc:objects ref="#[payload]"/>
                    </sfdc:create>
                </batch:commit>
            </batch:step>
        </batch:process-records>
        <batch:on-complete>
            <logger message="Elapsed time: #[message.payload.elapsedTimeInMillis] ; # recs processed: #[message.payload.processedRecords] ; #recs failed: #[message.payload.failedRecords]" level="INFO" doc:name="Logger"/>
        </batch:on-complete>
    </batch:job>
    <flow name="batchFlow1" doc:name="batchFlow1">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="sfdc" doc:name="HTTP"/>
        <sfdc:query config-ref="Salesforce" query="dsql:SELECT BillingCity,BillingCountry,BillingPostalCode,BillingState,Name FROM Account WHERE BillingPostalCode = 'DJT123'" doc:name="Salesforce"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
</mule>
